{
  "extends": "react-app",
  "rules": {
    "eqeqeq": "warn", // Warn about == or !=
    "no-unused-vars": "warn", // Warn about unused variables
    "semi": ["error", "always"] // Error if missing semicolons
  }
}